streamlit==1.31.1
langchain
langchain-community
langchain-text-splitters
langchain-google-genai
langchain-core
langchain-classic
google-generativeai
PyPDF2
python-docx
sqlalchemy
fastapi
uvicorn
python-multipart
nltk
scikit-learn
reportlab
pydantic==2.5.2
